@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 700;
    src: local("Euclid Circular A"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-Bold.woff2") format("woff2"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    src: local("Euclid Circular A"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-SemiBold.woff2") format("woff2"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-SemiBold.woff") format("woff");
}
@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    src: local("Euclid Circular A"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-Medium.woff2") format("woff2"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    src: local("Euclid Circular A"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-Regular.woff2") format("woff2"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 300;
    src: local("Euclid Circular A"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-Light.woff2") format("woff2"),
         url("/stub_farwater/assets/fonts/EuclidCircularA-Light.woff") format("woff");
}



  @media screen and (max-width: 1280px){
    .button_createPromo{
        margin-bottom: 20px;
        width: 100%;
    }
    .rightside{
       padding-left: 50px;
    }
    #card{
        width: 100%;
        height: 60%;
    }
    #button_redirect{
        width: 100%;
    }
    
  }

  @media screen and (max-width: 700px) {
    .button{
        width: 100%;
        height: 30%;
    }
    #header{
        margin-bottom: 50px;
    }
    #logo-min{
        padding-top: 30px;
        padding-right: 30px;
        margin-bottom: 10px;
    }
    #min-phonenumber{
        font-size: 15px;
    }
    #leftside{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        display: contents;
    }
    #rightside{
        margin-left: auto;
        margin-right: auto; 
        display: contents;
    }
    #rightside_title{
        font-size: 3vw;
        text-align: center;
    }
    #rightside_info{
        font-size: 3vw;
        text-align: center;
    }
    #card{
        height: 20%;
        width: 100%;
    }
    #subcontent_info{
        text-align: center;
    }
    #leftside_redirect{
        font-size: 5vw;
    }
    #cardtext_title{
        font-size: 4vw;
        margin-bottom: 0px;
    }
    #cardtext_info{
        font-size: 2vw;
        padding-top: 10px;
    }
    #button_design{
        font-size: 15px;
    }
    #button_secondDesign{
        font-size: 15px;
    }
    #subcontent_info{
        font-size: 2.5vw;
    }
    #phonenumber-position{
        padding-right: 32px;
    }
    
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "EuclidCircularA";
    border: 1px solid #809c53;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #312783 2.65%, #00A6E2 49.78%, #83D0F5 96.92%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
    background-repeat: no-repeat;
    background-size: contain;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vw;
    width: 100%;
}
header > img{
    min-width:130px;
    min-height: 50px;
    max-width: 460px;
    max-height: 270px;
    width: 70vh;
    height: 100%;
    padding-bottom: 50px;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

footer > p{
    position: absolute;
    bottom: 0;
    right: 0;
}
footer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contacts{
    display: flex;
    flex-direction: column;
    min-width: 615px;
}
.logo{
    padding-top: 75px;
    padding-right: 50px;
    margin-bottom: 30px;
}
.logo > img{
    max-width: 100%;
    max-height: 100%;
}
.phonenumber-position{
    text-decoration: none;
    text-align: right;
    padding-right: 150px;
}
.phonenumber{
    font-family: "EuclidCircularA";
    font-weight: 800;
    color: white;
    font-size: 32px;
}
.leftside{
    left: 0;
    text-align: center;
    min-width: 300px;
    width: 50%;
}
.leftside_redirect{
    font-size: 2.5vw;
    width: 100%;
    margin-bottom: 30px;
}

.uppercase{
    text-transform: uppercase;
}
.uppercase > a{
    text-decoration: none;
    color: white;
}
.card{
    background-color: #164194;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}
.cardtext_title{
    font-size: 2.5vw;
    padding-top: 20px;
}
.cardtext_info{
    font-size: 1.5vw;
    padding-left: 30px;

}
.cardtext{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-arounds
}
.cardtext_title{
    font-size: 2vw;
    width: 100%;
    padding-left: 45px;
    margin-bottom: 10px;
}
.cardtext_info{
    font-size: 1vw;
    width: 100%;
    padding-left: 40px;
    padding-top: 40px;
}
.bottle{
    display: contents;
}
.rightside{
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rightside_text{
    font-family: "EuclidCormorantA Bold";
    min-height: 40px;
    font-size: 2.1vw;
}
.rightside_title{
    font-size: 2vw;
    margin-bottom: 30px;
    color: white;
}
.rightside_title > a{
    text-decoration: none;
    color: white;
}
.rightside_info{
    font-size: 2vw;
    color: #fbff00;
    margin-bottom: 10%;
}
.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
}
.buttons > a {
    display: contents;
}
.button{
    font-size: 1vw;
    background-color: #0C89CD;
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}
.button_design{
    font-size: 24px;
    font-family: "EuclidCormorantA Medium";
}
.button:hover, .button:focus {
    background: #43A047;
}

.subcontent{
    width: 100%;
}
.subcontent_info{
    font-size: 0.9vw;
    text-align: end;
}